################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FakeRake.v11.suo
/FakeRake/bin/Debug
/FakeRake/obj/Debug
/FakeRake/FakeRake.csproj.user
